/*just for teseting purposes while building*/
body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}
/*Global Best Practices*/
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*applies to multiple sections*/
body {
	font-family: 'Roboto', sans-serif;
}
.content {
	width:46rem;
	text-align: center;
	margin: 0 auto;
}
/*Navigation Section*/
.top-navigation {
	background-color:#fff;
	background-position:center bottom;
	position:fixed;
	width:100%;
}
.top-navigation .content {
	text-align: left;
}
.top-navigation img.logo {
	height: 4.5rem;
	margin-left: 1rem;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top:1.7rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.5em;
}
.top-navigation .links .active{
	color:#4C5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/*Introduction Section*/
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height:45.938rem;
	overflow:auto;
}
.introduction h1,
.introduction h3 {
	color:white;
	font-weight: 300;
}
.introduction h1{
	margin:17.5rem 0 0 0;
	font-size: 3rem;
}
.introduction h3{
	margin:1rem 0 0 0;
	font-size:1.5rem;
}
.introduction .buttons{
	margin:1rem 0 0 0;
}
/*Buttons*/
button {
	width: 9.6rem;
	color:white;
	font-size:1.2rem;
	background-color:#f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
/*


