/*just for teseting purposes while building*/
body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
/*Global Best Practices*/
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/*Navigation Section*/
.top-navigation {
	backgroud-color:#fff;
}
.top-navigation .content {
	width:46rem;
	height:4.5rem;
	margin: 0 auto;
	padding: 0 2rem 0 2rem;

}
.top-navigation img.logo {
	height: 4.5rem;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top:1.7rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.5em;
}
.top-navigation .links .active{
	color:#4C5058;
	font-eight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}





